<!DOCTYPE html>
<html>
<%- include('../partials/header.ejs'); -%>


<body>
    <%- include('../partials/nav.ejs'); -%>

    <form action="/busqueda_proceso" method="GET">
        <!-- 
          El atributo name nos sirve para conseguir la información
          e identificar al campo

                <label>
        Término de búsqueda:
        <input type="search" name="termino" />
      </label>
            <input type="submit" value="Buscar" />
        </form>
      -->


        <div class="padre">
            <% llamada.forEach((cancha)=> {%>
            <div class="hijo">
                <div class="imagen-hijo">
                    <a href="cancha/<%= cancha.id %>">
                        <img class="fondo" src="<%= cancha.imagen %>" alt="foto de portada" />
                    </a>




                </div>
                <p>
                    <%= cancha.nombre %>
                </p>
                <p>
                    <%= cancha.direccion %>
                </p>
                <p>
                    <%= cancha.localidad %>
                </p>


            </div>

            <% })%>
        </div>
        <%- include('../partials/footer.ejs'); -%>
</body>

</html>