<!DOCTYPE html>
<html>
<%- include('../partials/header.ejs'); -%>

<body>
  <%- include('../partials/nav.ejs'); -%>

  <h1>Bienvenidos a la Gambeta</h1>



  <div class="contenedor">
    <table>
      <thead>
        <th>
          Jugador
        </th>

        <th>
          documento
        </th>

        <th>
          Cancha
        </th>

        <th>
          direccion
        </th>
      </thead>
      <% llamada.forEach((jugador)=> {%>
      <tr>
        <td>
          <%= jugador.apellido %> , <%= jugador.apellido %>
        </td>

        <td>
          <%= jugador.documento %>
        </td>

        <td>
          <%= jugador.cancha.nombre %>
        </td>

        <td>
          <%= jugador.cancha.direccion%>
        </td>
      </tr>

      <% })%>
    </table>


  </div>
  <%- include('../partials/footer.ejs'); -%>
</body>

</html>