<!DOCTYPE html>
<html>
    <head>
        <title>Datos del jugador</title>
        <link rel='stylesheet' href='/stylesheets/style.css' >
    </head>
    <body>
        <%- include('../partials/nav.ejs'); -%>
        <h1><%= nombre %>- <%= apellido %></h1>
        <h2> <%= documento %></h2>
        <h4><%= fecha %></h4>
        <h3> <%= genero%></h3>

       

        <img src="<%= imagen %>" alt="foto de portada">
    </body>
</html>
